
@{
    ViewData["Title"] = "Index";
}



<h2 class="text-center">Welcome @ViewBag.user</h2>


@*@if (User.Identity.IsAuthenticated)
{
    <p>kfldklfdjdlf</p>
    if (User.IsInRole("Employee"))
    {
        <p>This is User</p>
    }
}*@

