@{
    ViewData["Title"] = "Home Page";
}




<body>
    <div class="card bg-dark text-white image-fluid " ;">
        <img src="./css/natural-material-stationery-composition.jpg" class="card-img" alt="Stony Beach" style="height:800px"/>
        <div class="card-img-overlay   " style="background-color: rgba(0, 0, 0, 0.3)">
            <h5 class="card-title text-center  " style="margin-top:225px">Card title</h5>
            <p class="card-text text-center ">
                This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.
            </p>
            <p class="card-text text-center">Last updated 3 mins ago</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 my-4">
        <div class="col">
            <div class="card shadow-sm h-100">
                <img src="./css/PD.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Personal Details</h5>
                    <p class="Personal Details">
                        An Employee see his personal details and send update details to HR for approval.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm h-100 ">
                <img src="./css/OffD.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="Official Details">Official Details</h5>
                    <p class="card-text">
                        Simultaneously he/she can check out their official details as well.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm h-100 ">
                <img src="./css/CD1.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Contact Details</h5>
                    <p class="Contact Details">
                        In contact detail management an employee can manage contact info such as contact no., address and Emergency contact..
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm h-100 ">
                <img src="./css/Fd.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Family Details</h5>
                    <p class="Family Details">
                        In this section family contact no visible to employee. Each family member contact details comes with relationship as well..
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 my-4">
        <div class="col">
            <div class="card shadow-sm h-100 ">
                <img src="./css/ED.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Educational Details</h5>
                    <p class="Educational Details">
                        Employee's educational certificate, details and many other filed can be manage in this section.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm h-100 ">
                <img src="./css/Exp DE.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Experience Details</h5>
                    <p class="Experience Details">
                        A short overview of employee's overall experience with their certificates.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm h-100">
                <img src="./css/BD.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Bank Account Details</h5>
                    <p class="Bank Account Details">
                        An employee can manage multiple bank account detail in account detail field.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm h-100 ">
                <img src="./css/PayrollDE.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Payroll Details</h5>
                    <p class="Payroll Details">
                        Salary details, statuary deduction, earnings, company's assets and many other fields are visible in payroll details section.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4 my-4 w-50 mx-auto" >
        <div class="col">
            <div class="card shadow-sm h-100"style="">
                <img src="./css/Edd.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Employee Document</h5>
                    <p class="Employee Documentt">
                        Every document of employee such as certificates, call latter, experience certificates are easy to upload and access in document zone.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm h-100">
                <img src="./css/OtherD.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="Other Detail">Other Details</h5>
                    <p class="Other Details">
                        Plenty of other options are available to customize your additional information.
                    </p>
                </div>
            </div>
        </div>
        </div>
        <!-- Section: Social media -->
            <section class="d-flex justify-content-between p-4 text-white"
                     style="background-color:rgba(0, 0, 0, 0.2)">
                <!-- Left -->
                <div class="me-5">
                    <span>Get connected with us on social networks:</span>
                </div>
                <!-- Left -->
                <!-- Right -->
                <div>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->
            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold">EMS</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p>
                                Here you can use rows and columns to organize your footer
                                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">Products</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p>
                                <a href="#!" class="text-dark">MDBootstrap</a>
                            </p>
                            <p>
                                <a href="#!" class="text-dark">MDWordPress</a>
                            </p>
                            <p>
                                <a href="#!" class="text-dark">BrandFlow</a>
                            </p>
                            <p>
                                <a href="#!" class="text-dark">Bootstrap Angular</a>
                            </p>
                        <p>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="login">Admin Login</a>
                        </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">Useful links</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p>
                                <a href="#!" class="text-dark">Your Account</a>
                            </p>
                            <p>
                                <a href="#!" class="text-dark">Become an Affiliate</a>
                            </p>
                            <p>
                                <a href="#!" class="text-dark">Shipping Rates</a>
                            </p>
                            <p>
                                <a href="#!" class="text-dark">Help</a>
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">Contact</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                            <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->

</body>
