@{
    ViewData["Title"] = "Home Page";
}




<body>
    <div class="card bg-dark text-white image-fluid " ;">
        <img src="./css//Home3.jpg" class="card-img" alt="Stony Beach" style="height:800px"/>
        <div class="card-img-overlay   " style="background-color: rgba(0, 0, 0, 0.3)">
            <h5 class="card-title text-center  " style="margin-top:225px">Card title</h5>
            <p class="card-text text-center ">
                This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.
            </p>
            <p class="card-text text-center">Last updated 3 mins ago</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 my-4">
        <div class="col">
            <div class="card shadow-sm h-100">
                <img src="./css/PD.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Personal Details</h5>
                    <p class="Personal Details">
                        An Employee see his personal details and send update details to HR for approval.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm h-100 ">
                <img src="./css/OffD.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="Official Details">Official Details</h5>
                    <p class="card-text">
                        Simultaneously he/she can check out their official details as well.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm h-100 ">
                <img src="./css/CD1.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Contact Details</h5>
                    <p class="Contact Details">
                        In contact detail management an employee can manage contact info such as contact no., address and Emergency contact..
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm h-100 ">
                <img src="./css/Fd.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Family Details</h5>
                    <p class="Family Details">
                        In this section family contact no visible to employee. Each family member contact details comes with relationship as well..
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 my-4">
        <div class="col">
            <div class="card shadow-sm h-100 ">
                <img src="./css/ED.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Educational Details</h5>
                    <p class="Educational Details">
                        Employee's educational certificate, details and many other filed can be manage in this section.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm h-100 ">
                <img src="./css/Exp DE.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Experience Details</h5>
                    <p class="Experience Details">
                        A short overview of employee's overall experience with their certificates.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm h-100">
                <img src="./css/BD.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Bank Account Details</h5>
                    <p class="Bank Account Details">
                        An employee can manage multiple bank account detail in account detail field.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm h-100 ">
                <img src="./css/PayrollDE.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Payroll Details</h5>
                    <p class="Payroll Details">
                        Salary details, statuary deduction, earnings, company's assets and many other fields are visible in payroll details section.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4 my-4 w-50 mx-auto" >
        <div class="col">
            <div class="card shadow-sm h-100"style="">
                <img src="./css/Edd.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="card-title">Employee Document</h5>
                    <p class="Employee Documentt">
                        Every document of employee such as certificates, call latter, experience certificates are easy to upload and access in document zone.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm h-100">
                <img src="./css/OtherD.png" class="card-img-top h-auto w-25 align-self-center mt-4"
                     alt="Skyscrapers" />
                <div class="card-body text-center">
                    <h5 class="Other Detail">Other Details</h5>
                    <p class="Other Details">
                        Plenty of other options are available to customize your additional information.
                    </p>
                </div>
            </div>
        </div>
        </div>


</body>
